page-find-seller {
  .zoom-in {
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms;
}
    /*  # Themes Small item + header
================================================*/
ion-grid {
    padding: 0;
    margin-top: 70px !important;
}
    [header-bcg] {
      position: fixed !important;
      top: 50px;
      z-index: 9999;
  
      [header-subtitle] {
        margin-bottom: 10px;
        text-transform: uppercase;
      }
  
      .item-inner {
        margin-left: 0 !important;
      }
  
      .label-ios,
      .label-md {
        margin: 20px 8px 0px 0;
      }
  
      [social] {
        margin-top: 7px;
      }
    }
  
    [header-subtitle],
    [header-title] {
      color: theme-colors('textColors', 'accent-first') !important;
    }
  
    ion-list ion-item-sliding:nth-child(2) {
      margin-top: 145px;
    }
  
    ion-item-options {
      border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
    }

    //extendable
    li {
        list-style-type: none;
      }
    
      [social] {
        @include social;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    
      .collapsible-header {
        ion-thumbnail {
          img {
            width: 160px;
            height: 160px;
            margin-bottom: 1px;
          }
        }
    
        .label-md {
          margin: 0;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          min-height: 140px;
        }
      }
    
      .item-accordion {
        @include gradient-accent ($color-1, $color-2);
        height: 0;
        display: block !important;
        -webkit-transition: all 300ms;
        transition: all 300ms;
        overflow: hidden;
    
        img {
          border-radius: $border-radius !important;
        }
    
        &.active {
          height: 250px !important;
        }
      }
  
}
