<ion-content has-header white-background>
  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <ion-grid *ngIf="data != null">
      <ion-row wrap padding>
        <ion-col col-12>
          <img [src]="data.logo" *ngIf="data.logo != null">
          <ion-item no-padding transparent>
            <ion-label floating>{{ data.username }}</ion-label>
            <ion-input type="text" name="username" [(ngModel)]="params.username" required></ion-input>
          </ion-item>

          <ion-item no-padding transparent>
            <ion-label floating>{{ data.password }}</ion-label>
            <ion-input type="password" name="passwords" [(ngModel)]="params.passwords" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-centerr>
          <button type="submit" ion-button block button-clear-outline round outline [disabled]="!myform.valid">{{ data.login }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>