page-find-items {
  #notifications-badge {
    background-color: red;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 100%;
  }
  ion-grid {
    padding: 0;
    margin-top: 35px !important;
  }
  [item-title] {
    font-size: 18px !important;
  }
  [item-unit]{
    font-size: 13px !important;
    text-align: center !important;
    
  }
  ion-app.md [margin-top], ion-app.md [margin-top] .scroll-content {
    margin-top: 7px !important;
  }
  ion-app.md [padding] {
    padding: 2px !important;
}

  [padding-left]{
    padding: 10px !important
  }

  .label-md{
    min-height: 60px !important;
  }
  [header-bcg] {
    position: fixed !important;
    top: 50px;
    z-index: 9999;
    [header-subtitle] {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .item-inner {
      margin-left: 0 !important;
    }
    .label-ios,
    .label-md {
      margin: 20px 8px 0px 0;
    }
    [social] {
      margin-top: 7px;
    }
  }
  [header-subtitle],
  [header-title] {
    color: theme-colors('textColors', 'accent-first') !important;
  }
  ion-list ion-item-sliding:nth-child(2) {
    margin-top: 145px;
  }
  ion-item-options {
    border-bottom: 1px solid theme-colors('mainColors', 'secondary') !important;
  } //extendable
  li {
    list-style-type: none;
  }
  [social] {
    @include social;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .collapsible-header {
    ion-thumbnail {
      img {
        width: 160px;
        height: 160px;
        margin-bottom: 1px;
      }
    }
    .label-md {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 140px;
    }
  }
  .item-accordion {
    @include gradient-accent ($color-1, $color-2);
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;
    img {
      border-radius: $border-radius !important;
    }
    &.active {
      height: 250px !important;
    }
  }
  [float-right]{
    margin-left: 50% !important;
    text-decoration: #ffffff underline;
  }
  [clearboth]{
    clear: both;
  }

  [ion-fab]{
    font-size: 18px;
    font-weight: bold
  }
  .badge-md-google {
    color: #fff;
    background-color: #bf360c;
    text-align: center;
    padding: 3px 5px;
    border-radius: 10px;
}
ion-badge {
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  margin-top: -14px;
    margin-left: -6px;
}
}
