<ion-header>
  <ion-navbar>
    <ion-title>ราคากลางขยะ </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <!-- <ion-col col-12>
        {{seller.name}} {{seller.last_name}} : {{seller.mobile}}
      </ion-col> -->
      <ion-col col-12>
        <ion-list no-margin>
          <ion-list-header header-bcg no-padding no-lines>
            <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
          </ion-list-header>
            <ion-row>
              <ion-col *ngFor="let item of items; let i =index" 
                [class.col-5]="i%3 ===0" 
                [class.col-7]="i%3 ===1"  
                [class.col-12]="i%3 ===2"  
              >
                <div *ngIf="i%3 ===0">
                  <ion-row>
                    <ion-col col-9>
                        <i class="icon icon-format-align-justify" _icon></i>
                    </ion-col>
                    <ion-col col-3>
                        <ion-badge color="google" class="badge badge-md badge-md-google" 
                            ng-reflect-color="google"
                            *ngIf="testdate(item.updated_at_th) == false">{{ item.price }}</ion-badge>
                            <ion-badge color="facebook" class="badge badge-md badge-md-facebook" 
                            ng-reflect-color="facebook"
                            *ngIf="testdate(item.updated_at_th) == true">{{ item.price }}</ion-badge>
                            <div class="span">บาท</div>
                      </ion-col>
                  </ion-row>
                  <div item-title>{{ item.name }}</div>

                </div>
                <div *ngIf="i%3 ===1">
                    <ion-row>
                        <ion-col col-9>
                            <i class="icon icon-format-align-justify" _icon></i>
                        </ion-col>
                        <ion-col col-3>
                            <ion-badge color="google" class="badge badge-md badge-md-google" 
                                ng-reflect-color="google"
                                *ngIf="testdate(item.updated_at_th) == false">{{ item.price }}</ion-badge>
                                <ion-badge color="facebook" class="badge badge-md badge-md-facebook" 
                                ng-reflect-color="facebook"
                                *ngIf="testdate(item.updated_at_th) == true">{{ item.price }}</ion-badge>
                                <div class="span">บาท</div>
                          </ion-col>
                      </ion-row>
                      <div item-title>{{ item.name }}</div>
                </div>
                    
                <div *ngIf="i%3 ===2">
                  <ion-row>
                    <ion-col col-3>
                        <i class="icon icon-format-align-justify" _icon></i>
                    </ion-col>
                    <ion-col col-7>
                        <div item-title>{{ item.name }}</div>
                    </ion-col>
                    <ion-col col-2>
                        <ion-badge color="google" class="badge badge-md badge-md-google" 
                        ng-reflect-color="google"
                        *ngIf="testdate(item.updated_at_th) == false">{{ item.price }}</ion-badge>
                        <ion-badge color="facebook" class="badge badge-md badge-md-facebook" 
                        ng-reflect-color="facebook"
                        *ngIf="testdate(item.updated_at_th) == true">{{ item.price }}</ion-badge>
                        <div class="span">บาท</div>
                    </ion-col>
                  </ion-row>
                    <!-- <h2 padding-left item-title>{{ item.name }}</h2>
                    <h3 padding-left item-subtitle>{{ item.item_categories_name }}</h3>
                    <h2 padding-left item-subtitle>อัพเดทเมื่อ&nbsp;{{ item.updated_at_th }}</h2>
                    <h2 item-end item-unit>
                      <div>{{ item.price }} บาท</div>
                      <div>{{ item.unit_name }}</div>
                    </h2> -->
                </div>
          
            </ion-col>
            </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
