page-find-items {
  @media (min-width: 0px) {
    $col-12 : 98.5%;
    $col-5 : 42%;
    $col-7 : 54%;
    .col-5,.col-7, .col-12{
      height: 120px;
      border-radius: 10px 10px;
      background: #02DBCC;
      -webkit-box-flex: 0;
      margin:3px;
      text-align: center;
    }
    
    .col-5 {
      -webkit-flex: 0 0 $col-5;
      -ms-flex: 0 0 $col-5;
      flex: 0 0 $col-5;
      width:$col-5;
      max-width:$col-5;
      [item-title]{
        font-size: 14px !important
      }
    }
  
    .col-7 {
      -webkit-flex: 0 0 $col-7;
      -ms-flex: 0 0 $col-7;
      flex: 0 0 $col-7;
      width: $col-7;
      max-width: $col-7;
      [item-title]{
        font-size: 14px !important
      }
    } 
  
    .col-12
    {
      -webkit-flex: 0 0 $col-12;
      -ms-flex: 0 0 $col-12;
      flex: 0 0 $col-12;
      width: $col-12;
      max-width: $col-12;
      height: 90px !important;
      [item-title]{
        font-size: 14px !important
      }
    }

    .span{
      font-size: 11px !important
    }
  }

  @media (min-width: 420px) {
    $col-12 : 98.5%;
    $col-5 : 38%;
    $col-7 : 55%;
    .col-5,.col-7, .col-12{
      height: 140px;
      border-radius: 10px 10px;
      background: #02DBCC;
      -webkit-box-flex: 0;
      margin:3px;
      text-align: center;
    }
    
    .col-5 {
      -webkit-flex: 0 0 $col-5;
      -ms-flex: 0 0 $col-5;
      flex: 0 0 $col-5;
      width:$col-5;
      max-width:$col-5;
      [item-title]{
        font-size: 17px !important
      }
    }
  
    .col-7 {
      -webkit-flex: 0 0 $col-7;
      -ms-flex: 0 0 $col-7;
      flex: 0 0 $col-7;
      width: $col-7;
      max-width: $col-7;
    } 
  
    .col-12
    {
      -webkit-flex: 0 0 $col-12;
      -ms-flex: 0 0 $col-12;
      flex: 0 0 $col-12;
      width: $col-12;
      max-width: $col-12;
      height: 100px !important;
    }
  }

  @media (min-width: 720px) {
      
  }

  #notifications-badge {
    background-color: red;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 100%;
  }
  ion-grid {
    padding: 0;
   // margin-top: 35px !important;
  }
  [item-title] {
    font-size: 18px !important;
  }
  [item-unit] {
    font-size: 13px !important;
    text-align: center !important;
  }


  .item-accordion {
    @include gradient-accent ($color-1, $color-2);
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;
    img {
      border-radius: $border-radius !important;
    }
    &.active {
      height: 250px !important;
    }
  }
  [float-right] {
    margin-left: 50% !important;
    text-decoration: #ffffff underline;
  }
  [clearboth] {
    clear: both;
  }
  [ion-fab] {
    font-size: 18px;
    font-weight: bold
  }
  .badge-md-google,.badge-md-facebook {
    background-color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;
  }
  .badge-md-google{
    color: #bf360c;
  }
  .badge-md-facebook{
    color: green;
  }
  ion-badge {
    padding: 3px 8px;
    display: inline-block;
    min-width: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    margin-top: -14px;
    margin-left: -6px;
  }

  [_icon]{
    font-size: 60px;
    color:#ffffff !important;
    -webkit-text-stroke-color:#ffffff
  }

  [item-title], .span{
    color:#ffffff !important
  }
 
  .label-md {
     margin: 0px; 
}
}
