page-main-menu-purchase-items {
  ion-card {
    [card-title] {
      position: absolute;
      top: 36%;
      font-size: 23px !important;
      font-weight: bold;
      width: 90%;
      left: 5%;
      z-index: 9;
      color: theme-colors('textColors', 'accent-first') !important;
    }
    [card-subtitle] {
      position: absolute;
      bottom: 12%;
      width: 90%;
      left: 5%;
      z-index: 9;
      color: theme-colors('textColors', 'accent-first') !important;
    }
  }
  [card-content] {
    position: relative;
    @include darkening-blend-mode;
    border-radius: $border-radius !important;
    &:before {
      z-index: 3;
    }
  }
  .zoom-in {
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms;
  }
  .button{
    color:#ffffff;
    border-color: #ffffff
  }
}
