page-home {
    $bg-white: #ffffff;
    $bg-blue: #5DD7D0;
    %color-white{
        color: $bg-white !important;
    }
    @mixin my-span($fontsize){
        font-size: $fontsize;
        @extend %color-white;
        margin-left: 50%
    }

    @mixin vertical-align {
        @extend %color-white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: 50%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @mixin col-last-left{
        color:#9B2334;
        font-size: 21px;
        font-weight: bold;
        line-height: 140%;
    }

    ion-content{
        background:$bg-white !important;
        color: $bg-white !important;
        ion-avatar{
            img, ion-icon{
                border-radius: 50% 50% !important;
            }
            ion-icon{
                font-size: 35px !important;
                border: #ffffff 2px solid;
                padding: 5px 13px;
                margin-top: 0px 
            }
            
        }
    }
    ion-card{
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
        
        ion-card-content{
            background: $bg-blue !important;
            border-radius: 10px;
            
            .title{
                @extend %color-white;
                font-size: 25px;
                font-weight: bold;
            }
            .title2{
                @include vertical-align;
            }
            .title3{
                @extend %color-white;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
            .subtitle3{
                font-size: 15px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
            }
            .subtitle{
                @extend %color-white;
                font-size: 17px;
            }
            .price{
                @include col-last-left;
                border-left: #ffffff 1px solid;
                .price-number{
                    padding-top: 8px;
                    -webkit-transform: scaleY(2);
                    transform: scaleY(2);
                }
                span{
                    @include my-span(17px);
                }
            }
            .price2 {
                @include col-last-left;
                #badge{
                    text-align: right;
                    margin-right: 15px;
                    margin-top: -7px;
                    .my-badge{
                        color:$bg-blue;
                        background: $bg-white; 
                        border-radius: 20px 20px;
                        padding: 5px 9px;
                        font-size: 16px;
                        position: absolute;
                        vertical-align: top;

                    }
                }
                span{
                    @include my-span(12px);
                    color: $bg-white;
                    margin-top: -10px !important;
                }
            }
        }
        .item-md{
            background:none !important;
        }
        .card-footer{
            background: #E7F9F9 !important;
            width: 90%;
            margin-left: 5%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    
}
