<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Title
    </ion-title>
    
  </ion-navbar>

</ion-header>

<!-- Themes Products + CTA header -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row padding background-size container-hearder-image *ngFor="let item of data" 
      [ngStyle]="{'background-image': 'url(' + item.headerImage + ')'}"  (click)="onEvent('onProceed', item, $event)">
      <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right>
        <span style="float: right;top:0;">{{item.title}}</span>
      </ion-col>
      <!-- <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left>
        <h1 header-title>{{item.title_description}}</h1>
        <h2 header-subtitle>{{item.description}}</h2>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right>
        <button ion-button button-clear-outline round outline>
          {{item.buttonText}}
        </button>
      </ion-col> -->
    </ion-row>

  </ion-grid>
</ion-content>