// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Prompt');
$font-family-base: 'Prompt', sans-serif !important;
.splash{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue
  }
.circle{
    border-radius: 50%;
    width:120px;
    height: 120px;
}
._button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
ion-content{
    // background-color: #05FFA2 !important;
    // font-family: $font-family-base
}

ion-header{
    // background-color: #47A27E !important;
    // font-family: $font-family-base
}
ion-img{
    background-color: transparent !important
}

.logo{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.round-input {
    border-radius: 64px;
    padding: 0 2.6rem;
    height: 2.8em;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .list-md {
    margin: -1px 0 20px;
  }
  
  .item-md.item-block .item-inner {
    border-bottom: hidden;
  }
  
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom: hidden !important;
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: hidden !important;
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  
  .list-md.item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom: hidden !important;
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: hidden !important;        
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: hidden !important;
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: hidden !important;
    box-shadow: inset 0 -1px 0 0 #ffffff;
  }
  .segment-md .segment-button.segment-activated {
    border-color: #2CC66C;
    opacity: 1;
  }


  #splash-screen-layout-2 {
    #splash-background-image  {
      .splash-screen {
        animation: splashScreen 40s ease infinite;
        -ms-animation: splashScreen 40s ease infinite;
        -webkit-animation: splashScreen 40s ease infinite;
        -o-animation: splashScreen 40s ease infinite;
        -moz-animation: splashScreen 40s ease infinite;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
  
      }
    }
  
    @keyframes splashScreen {
      0%,
      100% {
        transform: scale(1.5, 1.5) translate(20px, 20px);
      }
  
      25% {
        transform: scale(1.8, 1.8) translate(50px, 50px);
      }
  
      50% {
        transform: scale(1.6, 1.6) translate(60px, 90px);
      }
  
      75% {
        transform: scale(2.0, 2.0) translate(10px, 10px);
      }
    }
  
    .logo-title {
      position: absolute;
      top: 50% !important;
      left: 50%;
      min-width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      -webkit-animation: fadeInDown 5s;
      /* Safari 4+ */
      -moz-animation: fadeInDown 5s;
      /* Fx 5+ */
      -o-animation: fadeInDown 5s;
      /* Opera 12+ */
      animation: fadeInDown 5s;
      /* IE 10+, Fx 29+ */
      $h1-font-size : 40px;
      h2 {
        color: theme-colors('textColors', 'accent-first') !important;
        font-size: $h1-font-size;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        animation: zoomIn 5s;
       -webkit-animation: zoomIn 5s;
  
      }
      .logo {
        animation: zoomIn 5s;
       -webkit-animation: zoomIn 5s;
        max-width: 100px;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  